CONFLUENCE_DOMAIN=api.atlassian.com
CONFLUENCE_API_PATH=/ex/confluence/3a4014c4-180a-4b0f-8524-060165699381/wiki/rest/api
CONFLUENCE_AUTH_TYPE=basic
CONFLUENCE_EMAIL=
CONFLUENCE_API_TOKEN=
CONFLUENCE_PROFILE=development
